<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_header_helper') %>
    <title>Blog App</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mb-4">Blog App</h1>
      <a href="/blogs/new" class="btn btn-success">Create Blog</a>

      <% blogs.forEach(blog => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= blog.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= blog.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= blog.description %></div>
          <a href="/blogs/<%= blog.slug %>" class="btn btn-primary"
            >Read More</a
          >
          <form
            action="/blogs/<%=blog.id%>?_method=DELETE"
            method="POST"
            class="d-inline"
          >
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
